<div class="card-container">
    <div *ngFor="let prestamof of prestamosFinalizados; let i = index">
        <div class="card">
            <div class="card-header">
                {{ i+1 }}
            </div>
            <div class="card-body">
                <p>Usuario: {{ nombreUsuario(prestamof.IDUsuario) }}</p>
                <p>Equipo: {{ nombreEquipo(prestamof.IDEquipo) }}</p>
                <p>Dado: {{ prestamof.Dado }}</p>
                <p>Recibido: {{prestamof.Recuperado}}</p>
            </div>
            <div class="card-footer">
                <button (click)="eliminarPrestamo(prestamof)" class="btn">Eliminar</button>
            </div>
        </div>
    </div>
</div>


<div class="spinner-container" *ngIf="mostrarSpinner">
    <div class="spinner">
        <img src="../../assets/spinner.gif" alt="Cargando...">
    </div>
</div>