<div class="add">
    <button (click)="mostrarFormulario = !mostrarFormulario">Agregar Prestamo</button>
</div>
<div class="container">
    <div class="popup-background" *ngIf="mostrarFormulario">
        <div class="popup-content">
            <form *ngIf="mostrarFormulario" (ngSubmit)="nuevoPrestamo.id ? actualizarPrestamo() : agregarPrestamo()">
                <div class="form-group">
                    <label for="nombres">Nombres</label>
                    <input type="text" id="filtro" name="filtro" [(ngModel)]="filtro" (keyup)="filtrarUsuarios()">
                </div>
                <div class="filtered" *ngIf="usuariosFiltrados.length > 0">
                    <ul class="user-list">
                        <li *ngFor="let usuario of usuariosFiltrados" (click)="seleccionarUsuario(usuario)">
                            {{ usuario.Nombres }} {{ usuario.App }} {{ usuario.Apm }}
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="equipo">Equipo</label>
                    <input type="text" id="filtroE" name="filtroE" [(ngModel)]="filtroE" (keyup)="filtrarEquipos()">
                </div>
                <div class="filtered" *ngIf="equiposFiltrados.length > 0">
                    <ul class="user-list">
                        <li *ngFor="let equipo of equiposFiltrados" (click)="seleccionarEquipo(equipo)">
                            {{ equipo.Tipo }} {{equipo.Modelo}}
                        </li>
                    </ul>
                </div>
                <div id="botones">
                    <button type="submit" class="btn">{{ nuevoPrestamo.id ? 'Actualizar' : 'Agregar' }}</button>
                    <button (click)="cancelar()" class="btn">Cancelar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card-container">
        <div *ngFor="let prestamo of prestamos; let i = index">
            <div *ngIf="prestamo.Recuperado==null">
                <div class="card">
                    <div class="card-header">
                        {{ i+1 }}
                    </div>
                    <div class="card-body">
                        <p>Usuario: {{ nombreUsuario(prestamo.IDUsuario) }}</p>
                        <p>Equipo: {{ nombreEquipo(prestamo.IDEquipo) }}</p>
                        <p>Dado: {{ prestamo.Dado }}</p>
                    </div>
                    <div class="card-footer">
                        <button (click)="recibirPrestamo(prestamo)" class="btn">Recibir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="spinner-container" *ngIf="mostrarSpinner">
        <div class="spinner">
            <img src="../../assets/spinner.gif" alt="Cargando...">
        </div>
    </div>
</div>