<div class="add">
    <button (click)="mostrarFormulario = !mostrarFormulario">Agregar Prestamo</button>
</div>
<div class="container">
    <div class="popup-background" *ngIf="mostrarFormulario">
        <div class="popup-content">
            <form *ngIf="mostrarFormulario" (ngSubmit)="nuevoPrestamo.id ? actualizarPrestamo() : agregarPrestamo()">
                <div class="form-group">
                    <label for="nombres">Nombres</label>
                    <select id="filtro" name="filtro" [(ngModel)]="nuevoPrestamo.IDUsuario">
                        <option *ngFor="let usuarion of usuariosNoOcupados" [value]="usuarion.id">
                            <div *ngIf="usuarion.Ocupado != 1">
                                {{ usuarion.Nombres }} {{ usuarion.App }} {{ usuarion.Apm }}
                            </div>
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="equipo">Equipo</label>
                    <select id="filtroE" name="filtroE" [(ngModel)]="nuevoPrestamo.IDEquipo">
                        <option *ngFor="let equipon of equiposNoOcupados" [value]="equipon.id">
                            <div *ngIf="equipon.Ocupado != 1">
                                {{ equipon.Tipo }} {{ equipon.Modelo }}
                            </div>
                        </option>
                    </select>
                </div>
                <div id="botones">
                    <button type="submit" class="btn">{{ nuevoPrestamo.id ? 'Actualizar' : 'Agregar' }}</button>
                    <button (click)="cancelar()" class="btn">Cancelar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card-container">
        <div *ngFor="let prestamov of prestamosVigentes; let i = index">
            <div class="card">
                <div class="card-header">
                    {{ i+1 }}
                </div>
                <div class="card-body">
                    <p>Usuario: {{ nombreUsuario(prestamov.IDUsuario) }}</p>
                    <p>Equipo: {{ nombreEquipo(prestamov.IDEquipo) }}</p>
                    <p>Dado: {{ prestamov.Dado }}</p>
                </div>
                <div class="card-footer">
                    <button (click)="recibirPrestamo(prestamov)" class="btn">Recibir</button>
                </div>
            </div>
        </div>
    </div>


    <div class="spinner-container" *ngIf="mostrarSpinner">
        <div class="spinner">
            <img src="../../assets/spinner.gif" alt="Cargando...">
        </div>
    </div>
</div>