<div class="add">
    <button (click)="mostrarFormulario = !mostrarFormulario">Agregar Usuario</button>
</div>
<div class="container">
    <div class="popup-background" *ngIf="mostrarFormulario">
        <div class="popup-content">
            <form *ngIf="mostrarFormulario" (ngSubmit)="nuevoUsuario.id ? actualizarUsuario() : agregarUsuario()">
                <div class="form-group">
                    <label for="nombres">Nombres</label>
                    <input type="text" id="nombres" name="nombres" [(ngModel)]="nuevoUsuario.Nombres" required>
                </div>
                <div class="form-group">
                    <label for="app">Apellido Paterno</label>
                    <input type="text" id="app" name="app" [(ngModel)]="nuevoUsuario.App" required>
                </div>
                <div class="form-group">
                    <label for="apm">Apellido Materno</label>
                    <input type="text" id="apm" name="apm" [(ngModel)]="nuevoUsuario.Apm" required>
                </div>
                <div class="form-group">
                    <label for="dep">Departamento</label>
                    <input type="text" id="id" name="id" [(ngModel)]="nuevoUsuario.Dep" required>
                </div>
                <div id="botones">
                    <button type="submit">{{ nuevoUsuario.id ? 'Actualizar' : 'Agregar' }}</button>
                    <button (click)="cancelar()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card-container">
        <div class="card" *ngFor="let usuario of usuarios; let i = index">
            <div class="card-header" *ngIf="usuario.Ocupado == 1" [ngStyle]="{'background-color': '#dc3545'}">
            </div>
            <div class="card-header" *ngIf="usuario.Ocupado != 1" [ngStyle]="{'background-color': '#30ce45'}">
            </div>
            <div class="card-body">
                <p><strong>Nombre: </strong>{{ usuario.Nombres }}</p>
                <p><strong>Apellido Paterno: </strong>{{ usuario.App }}</p>
                <p><strong>Apellido Materno: </strong>{{ usuario.Apm }}</p>
                <p><strong>Departamento: </strong>{{ usuario.Dep }}</p>
            </div>
            <div class="card-footer">
                <button (click)="modificarUsuario(usuario)">Modificar</button>
                <button (click)="eliminarUsuario(usuario)">Eliminar</button>
            </div>
        </div>
    </div>
    <div class="spinner-container" *ngIf="mostrarSpinner">
        <div class="spinner">
            <img src="../../assets/spinner.gif" alt="Cargando...">
        </div>
    </div>
</div>